[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
flask = "*"
cors = "*"
flask-cors = "*"
flask-migrate = "*"
flask-marshmallow = "*"
flask-socketio = "*"

[dev-packages]

[requires]
python_version = "3.13"
